:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #000817;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  overflow-x: hidden;

}
body.dark-mode {
  background-color:#333;
  color: #fff;
}

.hero {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('./images/bg.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  width: 100vw;
  height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-bottom: 90px;
}
.titulo{
  margin-left: 10vw;
  z-index: 10;
}
.dark-mode .hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0)), url('./images/bgDark.jpg');
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent); 
}
.logo3{
  width: 90px;
  margin-left: 40px;
}
.hero h1{
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: 500px;
  margin: 40px;
  z-index: 2;
}


button{
  background-color: transparent;
  border: none;
  color: #444;
}


a:hover {
  text-decoration: underline;
}


body.dark-mode {
  color: #fff; 
  background-color: #333;
}

body.dark-mode a {
  color: #80cbc4; 
}

body.dark-mode a:hover {
  text-decoration: underline;
}
/* nav */

.logos{

  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {

width: 70px;
padding: 10px;
  will-change: filter;
  transition: filter 300ms;
}
.logo2 ,.nav2, .nav3 {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-around;
}
.logo2{
  justify-content: start;
}

.logo2 button{
  padding-left: 10px;
}
.navbar{
  height: 80px;
  width: 100vw;
  background-color: #00081771;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 30px;
  z-index: 2;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.listaNav {

  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0%;
  margin: 0%;
 }

 .listaNav li{
  margin: 0px 15px;
  font-size:16px ;
  position: relative; 
}

.listaNav li::after {
  content: ''; 
  position: absolute;
  left: 0; 
  bottom: 0; 
  width: 0; 
  height: 1px; 
  background-color: white; 
  transition: width 0.3s ease; 
}

.listaNav li:hover::after {
  width: 100%; 
}
.derecha{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
width: 33%;
}


.serchBar{
  height: 38px;
  width: 239px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  padding-left: 5px;
}

.serchBar input, .serchBar button{
  background-color: transparent;
  border: none;
  padding: 0;
  padding: 0;
}
.material-icons{
  color: grey;
}


.menu-btn{
  display: none;
}
.dropdown-menu {
  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}
.nav3{
  justify-content: right;
  padding-right: 20px;
}
.nav2 a{
  text-decoration: none;
  color: white;
}
.carrito, .corazon {
  width: 30px;
  height: 30px;
  stroke: #ffffff49;
padding: 20px;
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.carrito:hover {
  stroke: #ffe600;
}
.corazon:hover {
  fill: #ff0000;
  stroke: #ff5050;
}


/* card */
.subtitulo{
  text-align: center;
}
.subtitulo h1{
  padding: 0;
  margin: 0;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container{
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; 
  padding: 20px;
}
.card {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

}
.card {
  position: relative;
  overflow: hidden;
}

.favButton {
  transition: transform 0.3s ease-in-out;
}

.favButton.remove-fav {
  animation: removeFavAnimation 0.5s ease-in-out forwards;
}

@keyframes removeFavAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card a{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;

}

.favButton {
  padding: 10px 20px;

  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.favButton:hover {
  background-color: #ee3333;
}
.favContainer {
  margin-top: 10px;
  margin-left: 10px;
}

.favButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.favIcon {
  transition: fill 0.3s ease;
}
.dark-mode .card {
  background-color: #1e1e1f;
  color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .card h3 {
  color: #0077ff; 
}

.dark-mode .card p {
  color: #ccc; 
}

.dark-mode .favButton {

  color: #ffd700;
}

.dark-mode .favButton:hover {
  background-color: #444;
}
/* footer */
footer{
width: 100vw;
height: 40px;
color: white;
background-color: black;
position: absolute;
bottom: 1;
left: 0;
text-align: center;
margin-top: 40px;
display: flex;
align-items: center;
justify-content: center;
}

.logoFooter{
  width: 30px;
  margin-right: 10px;
}
/* contacto */
.contactBg{
  width: 100vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 60vw;
height: 500px;
  background-color: #ecebeb;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.dark-mode .container{
  background-color: #000000;
}

/* form */

.formContainer{
  height: 600px;
  width: 40%;
  background-color: #5992fd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.dark-mode .formContainer{
  background-color: #0652df;
}
.flex{
  display: flex;
  flex-direction: column;
}
.send{
  background-color: #5277bb;
  color: #0652df;
  padding: 15px 20px;
  letter-spacing: 2px;
  font-weight: 600;
}
form{
  width: 80%;
}
.inputss{
  margin-bottom: 30px;
  width: 100%;
}
.inputss input{
  width: 100%;
  height: 35px;
  border: none;
  background-color: #0c3b91;
  border-radius: 8px;
  padding-left: 10px;
}
.inputss label{
  color: #222;
  margin: 5px;
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.dark-mode .modal-content{
  background-color: #1e1e1f;
  color: white;
}
.error-message {
  color: red;
}

/* fav */
.nofav{
  width: 100vw;
  height: 92vh;
  text-align: center;
  color: #8a8888;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.favs-container{
  width: 100vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards-container{
  width: 80vw;
}
/* detail */

.detail-container {
width: 100vw;
height: 92vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.detail-content{
  width: 40%;
}